# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
**/.ipynb_checkpoints/

# Env
.env
.venv/
venv/

# Data
*.csv
*.tsv

# MLflow
mlruns/
mlruns.db

# Docker
*.log
*.pid
*.cfg

# Jupyter
**/.ipynb_checkpoints/

# Otros
*.zip
*.tar.gz

#Modelos
modeling/bertopic/artifacts/
